@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(250, 250, 252);
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: rgb(250, 250, 252);
}

/* Navbar */
.navbar {
  position: fixed;
  background: rgb(250, 250, 252);
  color: #060709;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.nav-links ul li a{
  color: #050101;
}

nav-links ul li a:hover{
  color: black;
  font-weight: 400;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

/* Showcase */
.showcase {
  height: 450px;
  width: 100%;
  background: var(--primary-color);
}

.showcase h1 {
  margin-top: 250px;
  /* font-size: 2.5rem; */
  color: rgb(108, 108, 108);
  text-align: start;
}

.showcase{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.inp{
  display: flex;
  flex-direction: row;
}

.showcase form input{
  font-size: 20px;
  width: 600rem;
  max-width: 70rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 5px 10px rgb(228, 228, 237);
}

.showcase form input:focus{
  border:none
}

select{
  margin-left: 5px;
  width: 100px;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 5px 10px rgb(228, 228, 237);
}

option{
  font-size: 13px;
}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 15px;
  background: #050101;
  color: #eceaea;
  cursor: pointer;
  margin-top: 20px;
  transition: all;
  transition-duration:500ms ;
}

form button:hover {
  transform: scale(1.1);
}

/* Image */

.image {
  width: 100%;
  margin-top: 4rem;
}

/* #image1{
  width: 100%;
} */

img {
  display: block;
  /* margin: 4px; */
  margin-left: 30px;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

.image-container{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}